.forgot-password-wrapper {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    min-height: 100vh;
}
.forgot-password-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #f6d365, #fda085);
    border-radius: 20px;
    padding: 30px;
    width: 700px;
    height: 500px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.forgot-password-container h2{
    color:#ec1313;
    font-size: 44px;
}
.stepper-ResetPassword {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 0;
    width: 70%;
}

.step-ResetPassword {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #e0e0e0;
    margin: 0 10px;
    color: #555;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 1;
    text-align: center;
}

.step-ResetPassword.active {
    background-color: lawngreen;
    color: #2575fc;
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}

.step-ResetPassword.current {
    transform: scale(1.3);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    color: red;
}

.connector-ResetPassword {
    flex: 1;
    height: 4px;
    background-color: #e0e0e0;
    position: relative;
    z-index: 0;
    transition: background-color 0.3s;
}

.connector-ResetPassword.active {
    background-color: lawngreen;
}

.step-content-ResetPassword {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.step-content-ResetPassword input {
    width: 60%;
    padding: 13px;
    margin-top: 10px;
    margin-bottom: 15px;
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.2);
    color: #ec1313;
    transition: 0.3s;
    outline: none;
}

.input-container-ResetPass i {
    position: absolute;
    right: 20%;
    top: 35%;
    cursor: pointer;
    font-size: 1.2rem;
    color: #6a11cb;
    transition: color 0.3s ease;
}

.input-container-ResetPass i:hover {
    color: #ff3d00;
}

.step-content-ResetPassword input:focus {
    background: rgba(255, 255, 255, 0.4);
    border-color: #6a11cb;
    box-shadow: 0 0 10px rgba(106, 17, 203, 0.5);
}

@media (max-width: 768px) {
    .forgot-password-container {
        width: 90%;
        padding: 20px;
    }

    .step-content-ResetPassword input {
        width: 100%;
    }
}

.back-to-login {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.btn-backToLogin {
    padding: 0.7rem 1rem;
    font-size: 1.1rem;
    color: #6a11cb;
    font-weight: 400;
    transition: all .2s;
    position: relative;
    border: none;
    background: transparent;
}

.btn-backToLogin:before,
.btn-backToLogin:after {
    content: "";
    position: absolute;
    top: 50%;
    background: #ff3d00;
    height: 108%;
    width: 0;
    z-index: -1;
    transition: all .7s;
    transform: translateY(-50%);
}

.btn-backToLogin:before {
    left: 0%;
}

.btn-backToLogin:after {
    right: 0%;
}

.btn-backToLogin:hover {
    color: #fff;
    box-shadow: #f51a1a7f 0 30px 60px -12px inset, #ff00007f 0 18px 36px -18px inset;
    z-index: 2;

}

.btn-backToLogin:hover::before {
    width: 50%;
    left: 50%;

}

.btn-backToLogin:hover::after {
    width: 50%;
    right: 50%;
}


.countdownTime-container {
    position: relative;
    width: 60%;
    margin-top: 20px;
}

.countdownTime-circle {
    position: absolute;
    top: -75px;
    left: 30px;
    width: 55px;
    height: 55px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.countdownTime-circle p {
    margin: 0;
    font-size: 18px;
}

.input-container-ResetPass {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.input-container-ResetPass input {
    width: 100%;
    padding: 13px;
    margin-left: 110px;
    border: 2px solid #fff;
    border-radius: 10px;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.2);
    color: #ec1313;
    transition: 0.3s;
    outline: none;
}

.button-refresh-ResetPassword {
    position: absolute;
    right: 110px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center; 
    display: inline-block;
    padding: 0.7rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid rgb(252, 70, 100);
    border-radius: 20px;
    cursor: pointer;
    background-color: transparent;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
}

.button-refresh-ResetPassword i {
    margin-right: 8px; 
}
.button-refresh-ResetPassword::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(252, 70, 100);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
}

.button-refresh-ResetPassword:hover::before {
    transform: translateX(0);
}

.input-resetpassword {
    width: 100%; 
    max-width: 420px; 
    padding: 10px;
    padding-left: 10px; 
    padding-right: 40px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}